/* line 5, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.0.alpha.16/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.0.alpha.16/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.0.alpha.16/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.0.alpha.16/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.0.alpha.16/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.0.alpha.16/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.0.alpha.16/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.0.alpha.16/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.0.alpha.16/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'icomoon';
  src: url("../assets/fonts/icomoon.eot?y46hq9");
  src: url("../assets/fonts/icomoon.eot?#iefixy46hq9") format("embedded-opentype"), url("../assets/fonts/icomoon.woff?y46hq9") format("woff"), url("../assets/fonts/icomoon.ttf?y46hq9") format("truetype"), url("../assets/fonts/icomoon.svg?y46hq9#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 12, ../sass/_fontface.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 27, ../sass/_fontface.scss */
.icon-home:before {
  content: "\e001";
}

/* line 30, ../sass/_fontface.scss */
.icon-about:before {
  content: "\e051";
}

/* line 33, ../sass/_fontface.scss */
.icon-contact:before {
  content: "\e0ec";
}

/* line 36, ../sass/_fontface.scss */
.icon-skills:before {
  content: "\e1e8";
}

/* line 39, ../sass/_fontface.scss */
.icon-projects:before {
  content: "\e25c";
}

/* line 42, ../sass/_fontface.scss */
.icon-menu:before {
  content: "\e2af";
}

/* line 45, ../sass/_fontface.scss */
.icon-github:before {
  content: "\e4ba";
}

/* line 48, ../sass/_fontface.scss */
.icon-twitter:before {
  content: "\e49f";
}

/* line 51, ../sass/_fontface.scss */
.icon-eye:before {
  content: "\e2d9";
}

/* line 54, ../sass/_fontface.scss */
.icon-heart:before {
  content: "\e600";
}

/**
 * @usage:
 *  <div class="display-table">
 *    <div class="display-table-cell">
 *      <!-- content -->
 *    </div>
 *  </div>
 */
/* line 10, ../sass/_verticalCentering.scss */
.display-table {
  display: table;
  width: 100%;
  height: 100%;
}

/* line 16, ../sass/_verticalCentering.scss */
.display-table-cell {
  display: table-cell;
  vertical-align: middle;
}

/* line 5, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.0.alpha.16/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.0.alpha.16/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.0.alpha.16/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.0.alpha.16/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.0.alpha.16/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.0.alpha.16/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.0.alpha.16/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.0.alpha.16/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.0.alpha.16/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_layout.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 4, ../sass/_layout.scss */
html, body {
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  background: #87847e;
}

/* line 10, ../sass/_layout.scss */
section {
  min-height: 100%;
  padding: 50px 0;
  padding-left: 1em;
  position: relative;
  z-index: 1;
}
/* line 18, ../sass/_layout.scss */
section div[role=main] {
  *zoom: 1;
  max-width: 50em;
  _width: 50em;
  padding-left: 1%;
  padding-right: 1%;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.0.alpha.16/stylesheets/compass/utilities/general/_clearfix.scss */
section div[role=main]:after {
  content: "";
  display: table;
  clear: both;
}
/* line 22, ../sass/_layout.scss */
section#home, section#contact {
  background: #1d1d1b;
  color: white;
}
/* line 27, ../sass/_layout.scss */
section#skills {
  background: #da5e41;
  color: white;
}
/* line 32, ../sass/_layout.scss */
section#work, section#about {
  background: white;
  color: #1d1d1b;
}
/* line 37, ../sass/_layout.scss */
section div[role=content] > div {
  width: 27.27273%;
  float: left;
  margin-right: 9.09091%;
  display: inline;
}
/* line 41, ../sass/_layout.scss */
section div[role=content] > div:nth-child(3n) {
  width: 27.27273%;
  float: right;
  margin-right: 0;
  *margin-left: -2%;
  display: inline;
}

/* line 47, ../sass/_layout.scss */
#skills figure {
  width: 60px;
  margin: 3em auto;
}
/* line 51, ../sass/_layout.scss */
#skills figure div[role=percentage] {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid white;
  height: 60px;
  width: 60px;
  line-height: 55px;
  text-align: center;
}
/* line 61, ../sass/_layout.scss */
#skills figure figcaption {
  text-align: center;
}

/* line 68, ../sass/_layout.scss */
#contact label, #contact textarea, #contact input {
  display: block;
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -2%;
  display: inline;
}
/* line 73, ../sass/_layout.scss */
#contact input, #contact textarea {
  background: none;
  border: 3px solid white;
  margin: 0;
  padding: 0.5em;
  color: white;
  font-size: 1.3em;
}
/* line 82, ../sass/_layout.scss */
#contact label {
  margin: 1em 0 0.5em;
  font-size: 1.5em;
}
/* line 87, ../sass/_layout.scss */
#contact textarea {
  min-height: 10em;
  font-family: 'Source Sans Pro', sans-serif;
}
/* line 92, ../sass/_layout.scss */
#contact input:focus, #contact textarea:focus, #contact input[type=submit]:hover {
  border-color: #da5e41;
  outline: none;
  background: #252522;
}
/* line 98, ../sass/_layout.scss */
#contact input[type=submit]:active {
  background: #da5e41;
  border-color: #da5e41;
}

/* line 106, ../sass/_layout.scss */
#main-nav {
  -moz-transition: margin-left 0.5s ease;
  -o-transition: margin-left 0.5s ease;
  -webkit-transition: margin-left 0.5s ease;
  transition: margin-left 0.5s ease;
  z-index: 99;
  position: fixed;
  height: 100%;
  background: #252522;
  width: 5em;
  margin-left: -4em;
}
/* line 116, ../sass/_layout.scss */
#main-nav a#close {
  -moz-transition: margin-left 0.5s ease;
  -o-transition: margin-left 0.5s ease;
  -webkit-transition: margin-left 0.5s ease;
  transition: margin-left 0.5s ease;
  position: relative;
  width: 5em;
  margin-left: 4em;
  background: #252522;
}
/* line 124, ../sass/_layout.scss */
#main-nav:hover {
  margin-left: 0;
}
/* line 127, ../sass/_layout.scss */
#main-nav:hover a#close {
  margin-left: 0;
}
/* line 132, ../sass/_layout.scss */
#main-nav a {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 1em;
  border-top: 1px solid #1d1d1b;
  display: block;
  color: white;
  text-align: center;
}
/* line 140, ../sass/_layout.scss */
#main-nav a span {
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  opacity: 0;
  margin-top: -1em;
  position: absolute;
  left: 0;
  padding: 1em;
  margin-left: 5em;
  background: #da5e41;
}
/* line 151, ../sass/_layout.scss */
#main-nav a:last-child {
  border-bottom: 1px solid #1d1d1b;
}
/* line 155, ../sass/_layout.scss */
#main-nav a:hover {
  background: #da5e41;
  color: white;
}
/* line 159, ../sass/_layout.scss */
#main-nav a:hover span {
  opacity: 1;
}

@media (min-width: 55em) {
  /* line 168, ../sass/_layout.scss */
  section {
    padding-left: 5em;
  }

  /* line 172, ../sass/_layout.scss */
  #main-nav {
    margin-left: 0;
  }
  /* line 175, ../sass/_layout.scss */
  #main-nav a#close {
    display: none;
  }
}
/* line 1, ../sass/_fonts.scss */
a {
  text-decoration: none;
  color: #1d1d1b;
}

/* line 8, ../sass/_fonts.scss */
p a {
  color: white;
  text-decoration: underline;
}

/* line 15, ../sass/_fonts.scss */
h1 {
  font-size: 3em;
}
/* line 18, ../sass/_fonts.scss */
h1 strong {
  color: #da5e41;
}

/* line 23, ../sass/_fonts.scss */
h2 {
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

/* line 31, ../sass/_fonts.scss */
table {
  width: 100%;
}
/* line 34, ../sass/_fonts.scss */
table tr {
  color: white;
  padding-bottom: 2px;
}
/* line 40, ../sass/_fonts.scss */
table td {
  border-bottom: 2px solid white;
  background: #da5e41;
  vertical-align: bottom;
  line-height: 1.25;
}
/* line 47, ../sass/_fonts.scss */
table tr td:nth-child(2n+1) {
  width: 80%;
  padding: 10px;
  font-size: 1.5em;
}
/* line 53, ../sass/_fonts.scss */
table tr td:nth-child(2n) {
  width: 20%;
  padding: 10px;
  font-size: 0.8em;
  text-align: right;
}

/* line 61, ../sass/_fonts.scss */
#home {
  height: 100%;
}
/* line 64, ../sass/_fonts.scss */
#home h1 {
  margin-bottom: 2em;
}

/* line 71, ../sass/_fonts.scss */
#work h1 {
  margin-bottom: 0.5em;
}
/* line 76, ../sass/_fonts.scss */
#work ul li {
  background: #da5e41;
  -moz-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
  padding: 1em;
  color: white;
  font-size: 1.2em;
  margin-bottom: 2px;
}
/* line 84, ../sass/_fonts.scss */
#work ul li:hover {
  background: #c24326;
}
/* line 88, ../sass/_fonts.scss */
#work ul li a {
  color: white;
}
/* line 94, ../sass/_fonts.scss */
#work ul li .icon-github {
  display: inline-block;
  float: right;
  color: #da5e41;
  font-size: 0;
}
/* line 102, ../sass/_fonts.scss */
#work ul li .icon-github:before {
  color: white;
  font-size: 18px;
  padding: 0 5px;
}

/* line 112, ../sass/_fonts.scss */
#about {
  background: url("../assets/wood.jpg") !important;
  color: white !important;
  text-shadow: 0px 0px 50px #1d1d1b;
  display: table;
  width: 100%;
  height: 100%;
}
/* line 121, ../sass/_fonts.scss */
#about h1 {
  text-align: center;
}
/* line 125, ../sass/_fonts.scss */
#about [role=main] {
  width: 50%;
}
/* line 129, ../sass/_fonts.scss */
#about [role=article] {
  display: table-cell;
  vertical-align: middle;
}
/* line 134, ../sass/_fonts.scss */
#about [role=article] img {
  display: block;
  margin: auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 140, ../sass/_fonts.scss */
#about [role=article] p {
  line-height: 1.5;
  font-size: 1.2em;
  margin: 2em 0;
  text-align: justify;
}
/* line 146, ../sass/_fonts.scss */
#about [role=article] p.center {
  text-align: center;
}
/* line 152, ../sass/_fonts.scss */
#about ul {
  text-align: center;
  margin-top: 4em;
}
/* line 156, ../sass/_fonts.scss */
#about ul li {
  display: inline-block;
}
/* line 159, ../sass/_fonts.scss */
#about ul li a {
  font-size: 0;
}
/* line 162, ../sass/_fonts.scss */
#about ul li a:before {
  padding: 10px;
  font-size: 30px;
  color: white;
}
